@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;700&display=swap");

$primary-color: rgba(51, 170, 183, 1);
$primary-color-border: rgba(51, 170, 183, 0.58);
$background-color: #F2F2F2;
$text-01: #0e2b2e;
$text-02: #4a5255;
$border-radius: 10px;

$spacing-1: 32px;
$spacing-2: 16px;

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: $text-02;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mukta Mahee", sans-serif;
  font-weight: bold;
  color: $text-01;
}

input, textarea {
  width: 100%;
  max-width: 300px;
  padding: 10px 16px;
  border: 0;
  font-size: large;
  border-radius: $border-radius;
  border: 3px solid $primary-color-border;
  background-color: #F2F2F2;
  
  &:focus {
    transition: all 0.3s ease-out;
    color: $text-01;
    outline: none;
    border: 3px solid $primary-color;
  }
}

button {
  padding: 16px;
  border-radius: $border-radius;
  background-color: $background-color;
  outline: none;
  border: 2px solid $text-02;
  &:hover {
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: 2px solid $primary-color;
    background-color: $primary-color;
    color: white;
  }
}

label {
  display: block;
  margin-top: $spacing-1;
  margin-bottom: $spacing-2;
  font-size: larger;
  font-weight: 600;
}

@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}

.mb-1 {
  margin-bottom: $spacing-1;
}

.mb-2 {
  margin-bottom: $spacing-2;
}

.mt-1 {
  margin-top: $spacing-1;
}

.mt-2 {
  margin-top: $spacing-2;
}