@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;700&display=swap");

$primary-color: #33aab7;
$text-01: #2d3436;
$text-02: #636e72;

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: $text-02;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mukta Mahee", sans-serif;
  font-weight: bold;
  color: $text-01;
}

@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}
