@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;700&display=swap");

$primary-color: #33aab7;
$disable-color: rgb(219, 219, 219);
$text-01: #0e2b2e;
$text-02: #636e72;
$border-radius: 8px;

$spacing-1: 16px;
$spacing-2: 8px;

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: $text-02;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mukta Mahee", sans-serif;
  font-weight: bold;
  color: $text-01;
}

input {
  width: 100%;
  max-width: 300px;
  font-size: medium;
  padding: 10px 16px;
  border: 0;
  border-radius: $border-radius;
  border: 2px solid $text-02;
  
  &:focus {
    color: $text-01;
    outline: none;
    border: 2px solid $primary-color;
  }
}

button {
  padding: 16px;
  border-radius: $border-radius;
  background-color: $disable-color;
  outline: none;
  border: 2px solid $text-02;
  &:hover {
    cursor: pointer;
    border: 2px solid $primary-color;
    background-color: $primary-color;
    color: white;
  }
}

label {
  display: block;
  margin-top: $spacing-1;
  margin-bottom: $spacing-2;
  font-size: larger;
  font-weight: 600;
}

@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}

.mb-1 {
  margin-bottom: $spacing-1;
}

.mb-2 {
  margin-bottom: $spacing-2;
}

.mt-1 {
  margin-top: $spacing-1;
}

.mt-2 {
  margin-top: $spacing-2;
}