@use "../../base";

.card {
  padding: 10px 16px;
  background-color: base.$background-color;
  border-radius: base.$border-radius;
  box-shadow: #e9e9e933 0px 2px 8px 0px;
}

.articleGrid {
  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @include base.lg {
    display: block;
  }
}
